/* styles.css */

.custom-text-field {
    
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 10px;

}

input[type="checkbox"] {
  margin-bottom: 5px !important;
  margin-left: -13px !important;
}