/* styles.css */


input[type="checkbox"] {
  margin-bottom: 5px !important;
  margin-left: -13px !important;
}

.save-btn {
  background-color: #008000 !important;
}

.close-btn {
  background-color: #ff0000 !important;
}