@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.App {
  text-align: center;
  z-index: 1000;
  position: fixed;
  top: 0%;
  width: 100%;  
}

.title {
  text-align: left;
  padding-left: 35px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
}

.blurred-background {
  filter: blur(5px); /* Adjust the blur intensity as needed */
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.navbar_icon{
  display: flex;
  align-items: center;
}

.navbar_bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8f2ef7;
  padding-right: 2rem;
  height: 40px;
  /* Adjust padding as needed */
}

.navbar-icon {
  background-color: antiquewhite;
  align-items: center;
}


.home_bg {
  border: 0px;
  background: transparent;
  margin-left: 15px;
  /* Adjust margin between icons as needed */
}

.home_bg.active {
  padding: 0;
  padding: 0;
  border-radius: 10px;
  color: aliceblue;
  background: #3c608b;
  /* background: linear-gradient(#141e30, #5592d7); */
  /* Change this to the color you want */
}


.icon_bg {
  height: 25px;
  width: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}



/* Show dropdown content when state is active */
.dropdown-navbar-content.show {
  display: block;
}

.dropdown-navbar-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width:  200px;
  border-radius: 5px;
  z-index: 200;
  right: 0;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  right: 0;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  padding: 6px 10px; /* Add padding for better spacing */
  width: 100%;
  text-align: left;
}

.dropdown-item .mr-3 {
  margin-right: 10px; /* Adjust icon-text spacing */
}

.dropdown-item .icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Size for the icon container */
  height: 40px;
  border-radius: 50%;
}

.dropdown-item div {
  display: inline-block;
}

.dropdown-item div:last-child {
  margin-left: 10px;
}

.dropdown-item:hover {
  background: rgb(206, 223, 233);
  color: black;
  border-radius: 5px;
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background to dim the rest of the page */
}
/* Remove border and outline for the dropdown button on click */
.home_bg:focus,
.home_bg:active {
  outline: none;
  border: none;
}

.dropdown-item:focus,
.dropdown-item:active {
  outline: none;
  border: none;
}

.dialog-content {
  background-color: white; /* dialog background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* optional: add box shadow for depth */
}
