@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#theader th {
  background-color: #1e7ee4;
  font-size: 13.44px;
  padding: 0;
}


.eye-icon {
  cursor: pointer;
  pointer-events: auto; 
}


