@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


#addprojhr, #addprojmin,#addtaskdetails{
    border: none; 
    
}

#addprojdrop {
    padding-right: 13rem;
}

#selempdrop {
    padding-right: 13rem;
}




