/* task overview css */


.taskoverview {
  /* Adjust the width as needed */
 display: inline-block;
 position: relative;
 vertical-align: top;
 /* width: 100%; */
}

.task-overview-heading {
  display: flex;
  position: fixed;
  margin-left: 20px;
}

.task-table{
  margin-top: 7px;
  /* width: 100%; */
  margin-left: 0px;
}

.task-table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.task-table tbody tr {
  background-color: darkcyan; /* Light gray background for odd rows */
}

.task-table tbody tr:nth-child(even) {
  background-color: darkcyan; /* Set background color for odd rows */
}

/* Remove hover effect */
.task-table tbody tr:hover {
  background-color: darkcyan;
}

.name-of-project {
  margin-top: 63px;
  display: flex;
  margin-left: 30px;
  /* width: 720px; */
  margin-bottom: -20px;
}

.name-proj {
  color: yellow;
  margin-left: 5px;
}


.task-count {
  margin-top: 63px;
  display: flex;
  margin-left: 30px;
}


.total-t{
  display: flex;
}


.expand-button {
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
  /* border: none; */
}

.task-details {
  margin-top: 10px;
}

.t1 {
  margin-top: 10px;
}

.btn-pos {
  display: flex;
  align-items: center;
}

.action-buttons {
  margin-left: auto;
}


.edit-button-task,
.del-button-task {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  background-color: transparent;
  border: none;
  display: inline-block; 
  vertical-align: middle;
  
}

.task-name-column {
  width: 400px; /* Set the desired width */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis for overflow content */
}



.edit-button-task {
  /* right: 60px;  */
  margin-left: auto;
}

.del-button-task {
  right: 10px; 
}

.editimg,
.delimg {
  height: 25px;
  width: 25px;
  background-color: transparent;
}

.infoimg {
  height: 16px;
  width: 16px;
  background-color: transparent;
}

/* .edit-button, .delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px; 
} */

/* .edit-button-task img, .delete-button-task img {
  height: 25px; 
} */

.task-table th,
.task-table td {
  
  text-align: left; /* Align table data to the left */
}

.task-row {
 height: 35px; /* Adjust the height as needed */
}

.show-task-details-button {
  background-color: transparent; /* Button background color */
  
  border: none; /* Remove button border */
  padding: 5px 10px; /* Adjust button padding */
  cursor: pointer; /* Show pointer cursor on hover */
  margin-left: 5px;
  
  
}

.time-values {
  position: relative;
}

.line {
  border: none; /* Remove default border */
  border-top: 1px solid white; /* Set the style, color, and thickness of the line */
  margin: 3px 0; /* Adjust the margin to control spacing */
}


